h1 {
    color: blue;
    font-family: Arial;
    background-color: aquamarine;
    text-align: center;
}

.recuadro {
    background-color: chartreuse;
    width: 100px;
    height: 20px;
}

.recuadro2 {
    background-color: orangered;
}

#amarillo {
    background-color: rgb(234, 232, 210);
}

.recuadro3 {
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    padding-top: 20px;
    border: 5px solid red;
    margin-top: 5px;
}